@charset "UTF-8";

#menu{
	position : fixed;
	top : 80px;
	left : 0;
	width : 100%;
	height : 280px;
	padding-top : 30px;
	padding-left : 10px;
	border-bottom : 1px solid #999999;
	box-sizing : border-box;
	background : white;
	z-index : 200;
}

#menu ul{
	list-style : none;
	padding : 0;
}

#menu li{
	padding : 0;
}

/* 메뉴 묶음(ul) */
#main_menu{
	width : 100%;
}

/* 대메뉴 카테고리(h3) */
.menu_title{
	margin-bottom:30px;
	font-size : 17px;
	font-weight : bold;
}

/* 대메뉴(li) */
#main_menu > li{
	width : 20%;
	height : 200px;
	padding-left : 40px;
	float:left;
	border-left : 1px solid #999999;
	box-sizing : border-box;
}

#main_menu > li:first-child{
	border-left : 0;
}


/* 소메뉴 */
#main_menu .menu_large > li{
	margin-top : 16px;
}

#main_menu .menu_large > li > a{
	display : block;
	height : 30px;
	font-size : 15px;
}

#main_menu .menu_large > li > a:hover{
	color : #223cb5;
}


