@charset "UTF-8";

*{
	/* 웹 표준 준수하기 위해 동일한 조건 설정 (1. margin : 0) */
	margin : 0; /* 브라우저마다 기본 margin이 있는 경우도 있고, 없는 경우도 있다. */
}

div{
	
}

#main_box{
	width  : 800px;
	height : 600px;
	background-color : #cccccc;
	margin : auto; /* 수평 중앙 정렬 */
}

/* id selector는 하나의 element에만 사용 */
#header{
	/* width 생략 시 부모의 100%를 받는다 */
	width : 100%;
	height : 100px;
	background-color : pink;
}

#aside{
	width : 30%;
	height : 400px;
	background-color: yellow;
	/* display : inline-block; */ /* 레이아웃 잡을 때는 인라인블럭 잡지 않음(먹히지도 않는다) */
	float : left; /* 레이아웃 잡을 때 float를 자주 쓴다. */       
}

#content{
	width : 70%;
	min-height : 400px; /* 최소 크기 */
	height : auto; /* 안쪽의 콘텐츠가 늘어날 수록 자동으로 높이가 커진다. */
	background-color : beige;
	float : left; /* aside와 content를 들어올리면 footer도 float속성을 받아 header바로 밑으로 들어간다. */
}

#footer{
	height : 100px;
	background : #ccccff;
	/* 부유 속성 해지 == float한 상태에서 고정*/
	/*clear : right; /* float left면 left로, float right면 right로 */
	clear : both; /* 복잡한 레이아웃에서는 어느 방향인지 알기 어려울 수 있음 ==> both를 사용 */
}